$color-42B983: #42B983;
$color-FFB007:#FFB007;
$color-3BC7CE:#3BC7CE;
$color-F2953B:#F2953B;
$color-EE646B:#EE646B;

.iconzhengshuguanli,.iconzhengshudayin,.iconshenfenluru,
.icongongsi,.iconwenzhangfenlei,.iconzhiweiguanli,
.iconxianchangzhaopin,.iconkechengliebiao,
.iconkechengfenlei,
.iconkechenghuishouzhan,.iconshitiguanli,
.iconzhishidianguanli,.icontikuguanli,.iconbianji,
.icongou,.icontuijian,.iconquxiaotuijian,.iconhuifu,
.icongangweiguanli,
.iconxuanzhong,
.iconzhongzhimima,
.iconbannerliebiao,
.iconbaoming,
.icondenglujilu,.iconrenzhengguanli,.iconkaoshijilu,.iconzuzhiguanli,
.iconrenzheng,.iconshijuan,.iconyigouxuan{color: $color-42B983;}

.iconguanbi,.iconyidongbumen,
.iconyitoudi,.iconshenhe,.iconbaomingyonghu,
.iconguanbilubo{color:$color-FFB007;}

.iconzuijindenglu1,
.iconkaoshiguanli,
.iconzuijinzhuce,
.iconbaomingliebiao,.icontoudijilu,
.iconqiyong,
.iconfabu,.icontongji,.icondaimianshi,
.iconkaiqilubo,.iconzujuan,.iconzhengshushenqing,
.iconzhengshu{color: $color-3BC7CE;}



.iconyuangongguanli,
.iconguanliyuan,
.iconzuijindenglu,
.iconwenzhangliebiao,
.iconhuishouzhan,.iconfenleizuihouyiji,
.iconxitongguanli,.iconshibaopeixun,.icondiannao,
.iconzhaopinhuibaomingqiye,
.icongongzuodizhi,
.iconpeixunguanlierji,
.iconpeixunfenlei,
.iconshijuanguanli,
.iconbumenguanli,
.iconzhaopinguanli,
.iconqiyezhuce{color: $color-F2953B;}



.iconzuzhiliebiao,
.iconyuangongliebiao,
.iconrencaisousuo,
.iconkechengpeizhi,
.iconpeixunpeizhi,
.iconkaoshipeizhi,
.iconzhiboguanli,.iconzhiboliebiao,.iconzhibofenlei,
.iconjibenpeizhi,
.iconjinyong,.iconpingtaitongji,.iconwenzhangguanli{color: $color-EE646B;}

.iconshanchu,.iconsousuorencai,.iconkechengzhangjie,.iconshenqingkaoshi
,.iconluboliebiao{
	color: #FC794A;
}

.iconyonghu,.iconzuzhi,.iconzhiwei,.iconjiuye{
	color: #FFFFFF;
}

.iconguanlirizhi,.iconpeixunguanli{
	color:#75CAFF;
}
.iconnv-{
	color: #FF75A9;
}

.iconnan-{
	color: #1296DB;
}

.icondizhi{
	color: #666666;
}
.iconzhankai,.iconshouqi,.iconcaozuo,.iconshouji{
	color: #6D9985;
}

.iconweixuanzhong{
	color:#aaaaaa
}

.iconchangjianwenti{
	color: #FF796B;
}

