// 颜色变量
$color-white:#ffffff;
$color-666:#666666;
$color-999:#999999;
$color-main:#42B983;//主色调
$color-f2:#F2F2F2;//大多树背景色
// 文字尺寸
$font-size-20:20upx;
$font-size-24:24upx;
$font-size-26:26upx;
$font-size-28:28upx;
$font-size-30:30upx;
$font-size-32:32upx;
$font-size-31:31upx;
$font-size-34:34upx;
$font-size-36:36upx;
$font-size-40:40upx;

// 创建按钮的高度
$create-btn-height:98upx;